@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mynerve&family=Roboto+Mono:ital,wght@1,300&display=swap');

.myMessage {
    font-family: 'Roboto Mono', monospace;
    margin-left: 3vw;
    color: #e68c38;
    position: absolute;
    top: 15em;
}

.about {
    background-color: black;
    position: relative;
    width: 100%;
    height: 100%;
}

.about_button {
    position: absolute;
    top: 50%;
    left: 5%;
}

.button_quality {
    background-color: #f37c0c;
    font-family: 'Roboto Mono', monospace;
}
.button_quality:hover {
    background-color: rgb(255, 158, 67);
}

.image {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50%;
    opacity: 0.5;
    
}

@media only screen and (max-width: 900px) {
   .image {
    left: auto;
    width: auto;
    bottom: 0;
   }
  }