@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Roboto+Mono:ital,wght@1,300&display=swap');

.header_title {
    font-family: 'Mynerve', cursive;
    font-family: 'Roboto Mono', monospace;
}

.nav-item {
    font-family: 'Mynerve', cursive;
    font-family: 'Roboto Mono', monospace;
  }
  
  .nav-item .active {
    padding-bottom: 12px;
    border-bottom: 2px solid #e68c38;
  }