* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #e68c38;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

.section {
  min-height: 1000px;
  border-bottom: 2px solid;
}

